body {
    display: flex;
    justify-content: center;
}

.container {
    width: 950px;
    background-color: #eaeaea;
    padding: 10px;
    display: grid;
    grid-template-areas:
        "top-nav top-nav"
        "main side-nav";
    grid-template-columns: 700px 225px;
    grid-gap: 10px;
}

.top-nav {
    grid-area: top-nav;
    height: 150px;
    background-color: #ffcc00;
}



.main {
    grid-area: main;
    height: 340px;
    background-color: deeppink;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto 120px;
    gap: 10px; 
    padding: 10px;
}

.sub-content {
    width: 100%;
    height: 200px;
    background-color: mediumblue;
}

#advertisement {
    grid-column: span 3;
    height: 120px;
    background-color: #33cc33;
    display: flex;
}

.side-nav {
    grid-area: side-nav;
    height: 350px;
    background-color: #66ccff;
}